<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">

<head>
	<title>Luka Brinar | Home</title>
	<link rel="icon" href="../assets/images/favicon.ico">
	<!-- for-mobile-apps -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content=" Luka, Brinar, Homepage, Web Development, Programming"/>
	<script type="application/x-javascript">
		addEventListener("load", function() {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //for-mobile-apps -->
	<link href="../assets/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<link href="../assets/css/style.css" rel="stylesheet" type="text/css" media="all" />
	<!-- gallery -->
	<link type="text/css" rel="stylesheet" href="../assets/css/cm-overlay.css" />
	<!-- //gallery -->
	<!-- font-awesome icons -->
	<link href="../assets/css/font-awesome.css" rel="stylesheet">
	<!-- //font-awesome icons -->
	<link href="fonts.googleapis.com/css?family=Gidugu" rel="stylesheet">
	<link href='fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
</head>

<body>
	<div class="main" id="home">
		<!-- banner -->
		<div class="banner">
			<!--Slider-->
			<img src="../assets/images/Luka%20Brinar.jpg" alt=" " class="img-responsive">
			<h2>Hi, I’m Luka.</h2>
			<span>Soon Your Junior Web Developer / Programmer</span>
			<div class="callbacks_container">
				<ul class="rslides" id="slider3">
					<li>
						<div class="slider-info">
							<p>The contrasting combo of fresh mind and ancient soul. Ready to kick some asses on a whole new business level. </p>
						</div>
					</li>
					<li>
						<div class="slider-info">
							<p>With lots of expectations and energy to contribute to the further enhancement of your business.</p>
						</div>
					</li>
					<li>
						<div class="slider-info">
							<p>Looking forward to completing amazing projects in great teams and learning from the best.</p>
						</div>
					</li>
				</ul>

				<div class="clearfix"></div>
			</div>
			<!--//Slider-->
			<ul class="top-links">
				<li><a href="#"><i class="fa fa-facebook"></i></a></li>
				<li><a href="#"><i class="fa fa-twitter"></i></a></li>
				<li><a href="https://www.linkedin.com/in/luka-brinar-a61957142/"><i class="fa fa-linkedin"></i></a></li>
				<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
			</ul>
		</div>
		<!-- //banner -->
	</div>
	<!-- header -->
	<div class="w3_navigation">
		<div class="container">
			<nav class="navbar navbar-default">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					    <span class="sr-only">Toggle navigation</span>
					    <span class="icon-bar"></span>
					    <span class="icon-bar"></span>
					    <span class="icon-bar"></span>
				    </button>
					<div class="logo">
						<h1><a class="navbar-brand" href="index.html"><span class="one"></span></a></h1>
					</div>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
					<nav class="cl-effect-1" id="cl-effect-1">
						<ul class="nav navbar-nav">
							<li class="active"><a class="scroll" href="index.html">Home</a></li>
							<li><a href="#about" class="scroll hvr-bounce-to-bottom">About</a></li>
							<li><a href="#services" class="scroll hvr-bounce-to-bottom">Services</a></li>
							<li><a href="#education" class="scroll hvr-bounce-to-bottom">Skills</a></li>
							<li><a href="#mail" class="scroll hvr-bounce-to-bottom">Contact</a></li>
						</ul>
					</nav>
				</div>
				<!-- /.navbar-collapse -->
			</nav>
		</div>
	</div>
	<!-- //header -->
	<!-- about -->
	<div class="about" id="about">
		<div class="container">
			<h3 class="w3l_head">About Me</h3>
			<p class="w3ls_head_para">Let’s Get Some Facts Straight</p>
			<div class="w3l-grids-about">
				<div class="col-md-5 w3ls-ab-right">
					<div class="agile-about-right-img">
						<img src="../assets/images/Luka%20Brinar%20big.jpg" alt="" class="img-responsive">
					</div>
				</div>
				<div class="col-md-7 w3ls-agile-left">
					<div class="w3ls-agile-left-info">
						<h4>Job Title</h4>
						<p>Junior Web Developer / Programmer</p>
					</div>
					<div class="w3ls-agile-left-info">
						<h4>Name</h4>
						<p>Luka Brinar</p>
					</div>
					<div class="w3ls-agile-left-info">
						<h4>Skype name</h4>
						<p>luckie86</p>
					</div>
					<div class="w3ls-agile-left-info">
						<h4>Address</h4>
						<p> Parižlje 30, 3314 Braslovče, Slovenia </p>
					</div>
					<div class="w3ls-agile-left-info">
						<h4>Email Address</h4>
						<p><a href="mailto:luka_brinar@yahoo.com">luka_brinar@yahoo.com</a></p>
					</div>
					<div class="w3ls-agile-left-info">
						<h4>My Favorite Quote</h4>
						<p>"Knowledge is power. But knowledge itself is true power"</p>
					</div>
					<div class="w3ls-agile-left-info">
						<h4></h4>
						<p>Besides all above, I’ve been a great companion as well as a pain in the ass to a very loving family and a few real friends for a little more than 30 years now.
							Being a person of integrity and loyalty has pushed me to learn quite enough life lessons to know what counts.
							And that I should find my passion and persuade it.
							So, here I am, jumping into the dark and following my love for informational technology and discovering new ways it benefits to the contemporary businesses.</p>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //about-bottom -->
	<!-- services -->
	<div class="service" id="services">
		<div class="container">
			<h3 class="w3l_head two">Here for You</h3>
			<p class="w3ls_head_para">See My Services</p>
			<div class="service-agileits">
				<div class="col-md-4 list-gds text-center">
					<i class="fa fa-cog" aria-hidden="true"></i>
					<h4>WHY CHOOSE Me.</h4>
					<p>Are you looking for someone you want to learn doing things your way but at the same time someone you can trust is ready to speak up their own mind when they are sure they have something smart to say?
						Well, if answer is yes, then this is why you should choose me if you are looking for a junior web developer / programmer.</p>
				</div>
				<div class="col-md-4 list-gds text-center">
					<i class="fa fa-laptop" aria-hidden="true"></i>
					<h4>WHAT I DO. </h4>
					<p>I code. I develop. I research. I study. I learn. I test. And then I code some more.
						Unlike some other colleagues from the field, I sleep at night and at least 3 times a day I eat to keep my mind fresh and healthy.
						But if you are asking what’s in there for you, let me make it straight: I do great business and don’t settle for less.</p>
				</div>
				<div class="col-md-4 list-gds text-center">
					<i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
					<h4>My MISSION.</h4>
					<p>So far I have proved to myself that what I do best is learn.
						And as the tech is a living and breathing thing that changes everyday;
						being able to absorb as much web development and programming knowledge as possible, is the path I’ve chosen on my mission on becoming one of the strongest and most desirable web developers / programmers in my region.</p>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!-- //services -->
	<!-- /education -->
	<div class="education" id="education">
		<div class="col-md-6 education-w3l">
			<h3 class="w3l_head three">My Experience</h3>
			<div class="education-agile-grids">
				<div class="education-agile-w3l">
					<div class="education-agile-w3l-year">
						<h4>2016-2017</h4>
						<h6>Smart Ninja</h6>
					</div>
					<div class="education-agile-w3l-info">
						<h4>Smart Ninja Student</h4>
						<p>Graduated from Web Development 1 and Web Development 2. All assignments were finished on time!</p>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="education-agile-w3l two">
					<div class="education-agile-w3l-year">
						<h4>2010-2014</h4>
						<h6>Logistics Planning</h6>
					</div>
					<div class="education-agile-w3l-info">
						<h4>Logistic Planner</h4>
						<p>Full logistic support in Slovenia & Germany, Bottleneck Management, Management support ...</p>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="education-agile-w3l">
					<div class="education-agile-w3l-year">
						<h4>2008</h4>
						<h6>IPMA</h6>
					</div>
					<div class="education-agile-w3l-info">
						<h4>Project Management</h4>
						<p>Certified project management associate IPMA level D, certificate # 141 / 08 Issued by SloCert</p>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<div class="col-md-6 skills">
			<h3 class="w3l_head two">My Skills</h3>
			<div class="skill-agile">
				<div class='bar_group'>
					<div class='bar_group__bar thin elastic' label='HTML5' value='80'></div>
					<div class='bar_group__bar thin elastic' label='CSS3' value='60'></div>
					<div class='bar_group__bar thin elastic' label='Bootstrap' value='60'></div>
					<div class='bar_group__bar thin elastic' label='Git and GitHub' value='100'></div>
					<div class='bar_group__bar thin elastic' label='Python 2.7' value='50'></div>
				</div>
			</div>
		</div>
		<div class="clearfix"> </div>
	</div>
	<!-- //education -->
	<!-- /experience -->
	<div class="education" id="education two">
		<div class="col-md-6 skills two">
			<h3 class="w3l_head two">More Skills</h3>
			<div class="skill-agile">
				<div class="col-sm-4 abt-gd-left text-center">
					<div id="demo-pie-1" class="pie-title-center" data-percent="50"> <span class="pie-value"></span> </div>
					<h4>jinja2</h4>
				</div>
				<div class="col-sm-4 abt-gd-left text-center">
					<div id="demo-pie-3" class="pie-title-center" data-percent="50"> <span class="pie-value"></span> </div>
					<h4>SQLite</h4>
				</div>
				<div class="col-sm-4 abt-gd-left text-center">
					<div id="demo-pie-4" class="pie-title-center" data-percent="25"> <span class="pie-value"></span> </div>
					<h4>JavaScript & jQuery</h4>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="col-md-6 education-w3l">
			<h3 class="w3l_head three">My Education</h3>
			<div class="education-agile-grids">
				<div class="education-agile-w3l">
					<div class="education-agile-w3l-year">
						<h4>2011-2012</h4>
						<h6>NLP</h6>
					</div>
					<div class="education-agile-w3l-info">
						<h4>Neuro Linguistic Programming</h4>
						<p>Certified Practitioner of Neuro Linguistic Programming</p>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="education-agile-w3l two">
					<div class="education-agile-w3l-year">
						<h4>2006-2010</h4>
						<h6>Bachelor's Degree</h6>
					</div>
					<div class="education-agile-w3l-info">
						<h4>Faculty of Logistics, University of Maribor</h4>
						<p>Bachelor's degree in Project Management</p>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="education-agile-w3l">
					<div class="education-agile-w3l-year">
						<h4>2002-2006</h4>
						<h6>High School Diploma</h6>
					</div>
					<div class="education-agile-w3l-info">
						<h4>Solski Center Celje, Gimnazija Lava</h4>
						<p>High School diploma in General Studies</p>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<div class="clearfix"> </div>
	</div>
	<!-- //experience -->
	<!--counter-->
	<div id="counter" class="counter">
		<div class="container">
			<!--count-down -->
			<div class="count">
				<div class="col-md-3 agile_count_grid">
					<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
					<h5>CLIENTS</h5>
					<p class="counter">2</p>
				</div>
				<div class="col-md-3 agile_count_grid">
					<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
					<h5>PROJECTS</h5>
					<p class="counter">3</p>
				</div>
				<div class="col-md-3 agile_count_grid c3">
					<span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
					<h5>EXPERIENCE</h5>
					<p class="counter">1</p>
				</div>
				<div class="col-md-3 agile_count_grid c4">
					<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
					<h5>LINES OF CODE</h5>
					<p class="counter">3407</p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!--counter-->
	<!-- mail -->
	<div class="mail" id="mail">
		<div class="container">
			<h3 class="w3l_head w3l_head1">Contact Me</h3>
			<p class="w3ls_head_para w3ls_head_para1">send Me a message</p>
			<div class="w3_mail_grids">
				<form action="/" method="post" onSubmit="alert('Thank you for your inquiry!');">
					<div class="col-md-6 w3_agile_mail_grid">
						<span class="input input--ichiro">
							<input name="name" class="input__field input__field--ichiro" type="text" id="input-25" placeholder=" " required="">
							<label class="input__label input__label--ichiro" for="input-25">
								<span class="input__label-content input__label-content--ichiro">Your Name</span>
						    </label>
						</span>
						<span class="input input--ichiro">
							<input name="email" class="input__field input__field--ichiro" type="email" id="input-26" placeholder=" " required="">
							<label class="input__label input__label--ichiro" for="input-26">
                                <span class="input__label-content input__label-content--ichiro">Your Email</span>
						    </label>
						</span>
						<span class="input input--ichiro">
							<input name="phone_number" class="input__field input__field--ichiro" type="text" id="input-27" placeholder=" " required="">
							<label class="input__label input__label--ichiro" for="input-27">
								<span class="input__label-content input__label-content--ichiro">Your Phone Number</span>
						    </label>
						</span>
					</div>
					<div class="col-md-6 w3_agile_mail_grid">
						<textarea name="message" placeholder="Your Message" required=""></textarea>
						<input type="submit" value="Submit">
					</div>
					<div class="clearfix"> </div>
				</form>
			</div>
		</div>
	</div>
	<!-- //mail -->
	<!-- footer -->
	<div class="w3l_footer">
		<div class="container">
			<div class="w3ls_footer_grids">
				<div class="w3ls_footer_grid">
					<div class="col-md-4 w3ls_footer_grid_left">
						<div class="w3ls_footer_grid_leftl">
							<i class="fa fa-map-marker" aria-hidden="true"></i>
						</div>
						<div class="w3ls_footer_grid_leftr">
							<h4>Location</h4>
							<p>Parižlje 30, 3314 Braslovče, Slovenia</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="col-md-4 w3ls_footer_grid_left">
						<div class="w3ls_footer_grid_leftl">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</div>
						<div class="w3ls_footer_grid_leftr">
							<h4>Email</h4>
							<a href="mailto:luka_brinar@yahoo.com">luka_brinar@yahoo.com</a>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="col-md-4 w3ls_footer_grid_left">
						<div class="w3ls_footer_grid_leftl">
							<i class="fa fa-phone" aria-hidden="true"></i>
						</div>
						<div class="w3ls_footer_grid_leftr">
							<h4>Call Me</h4>
							<p>+386 (0)31 287 397</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		<div class="w3l_footer_pos">
			<p>© 2017 Luka Brinar. All Rights Reserved | Design by <a href="https://w3layouts.com/">W3layouts</a></p>
		</div>
	</div>
	<!-- //footer -->
	<script src="../assets/js/jquery-2.2.3.min.js"></script>
	<!-- skills -->
	<script src="../assets/js/pie-chart.js" type="text/javascript"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('#demo-pie-1').pieChart({
				barColor: '#44c7f4',
				trackColor: '#fff',
				lineCap: 'round',
				lineWidth: 8,
				onStep: function(from, to, percent) {
					$(this.element).find('.pie-value').text(Math.round(percent) + '%');
				}
			});

			$('#demo-pie-2').pieChart({
				barColor: '#44c7f4',
				trackColor: '#fff',
				lineCap: 'butt',
				lineWidth: 8,
				onStep: function(from, to, percent) {
					$(this.element).find('.pie-value').text(Math.round(percent) + '%');
				}
			});

			$('#demo-pie-3').pieChart({
				barColor: '#44c7f4',
				trackColor: '#fff',
				lineCap: 'square',
				lineWidth: 8,
				onStep: function(from, to, percent) {
					$(this.element).find('.pie-value').text(Math.round(percent) + '%');
				}
			});

			$('#demo-pie-4').pieChart({
				barColor: '#44c7f4',
				trackColor: '#fff',
				lineCap: 'square',
				lineWidth: 8,
				onStep: function(from, to, percent) {
					$(this.element).find('.pie-value').text(Math.round(percent) + '%');
				}
			});
		});
	</script>
	<!-- skills -->
	<script src="../assets/js/responsiveslides.min.js"></script>
	<script>
		// You can also use "$(window).load(function() {"
		$(function() {
			// Slideshow 4
			$("#slider3").responsiveSlides({
				auto: true,
				pager: true,
				nav: false,
				speed: 500,
				namespace: "callbacks",
				before: function() {
					$('.events').append("<li>before event fired.</li>");
				},
				after: function() {
					$('.events').append("<li>after event fired.</li>");
				}
			});

		});
	</script>
	<!-- js -->
	<script src="../assets/js/jquery.tools.min.js"></script>
	<script src="../assets/js/jquery.mobile.custom.min.js"></script>
	<script src="../assets/js/jquery.cm-overlay.js"></script>
	<script>
		$(document).ready(function() {
			$('.cm-overlay').cmOverlay();
		});
	</script>
	<!-- js files -->



	<script src="../assets/js/bars.js"></script>

	<!-- start-smoth-scrolling -->
	<script type="text/javascript" src="../assets/js/move-top.js"></script>
	<script type="text/javascript" src="../assets/js/easing.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>
	<!-- start-smoth-scrolling -->

	<!-- //js -->
	<script src="../assets/js/bootstrap.js"></script>
	<!-- //for bootstrap working -->
	<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};
			*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<!-- //here ends scrolling icon -->
</body>

</html>
